.product-card {
  /* Box model and background */
  display: flex;
  border: 1px solid #e1e3e3;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  overflow: hidden; /* Prevent image overflow */
  padding: 6px 15px;
  justify-content: space-between;
}
.live {
  color: #625bf6;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}
.image-placeholder {
  width: 49px;
  height: 48px;
  background-color: black;
  display: block !important;
  border-radius: 8px;
}

/* Product image */
.product-card img {
  width: 49px;
  height: 48px;
  object-fit: cover;
  border-radius: 8px;
}

/* Product details container */
.product-details {
  padding: 1px 10px;
  flex: 1; /* Flexible growth to fill remaining space */
}

/* Product title */
.product-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Product subtitle (optional) */
.product-subtitle {
  font-size: 14px;
  color: #999;
  margin-top: -7px;
}

/* "Just now" text styling */
.just-now {
  color: #999;
  font-size: 12px;
}
:root {
  --pulseSize: 8px;
  --blue: #625bf6;
  --transparentBlue: #b6b3fb;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse {
  width: var(--pulseSize);
  height: var(--pulseSize);
  border-radius: 50%;
  background: var(--blue);
  box-shadow: 0 0 0 var(--blue);
  animation: pulsing 1s infinite;
  transition: all 0.2s;
  cursor: pointer;
  display: block !important ;
}

.pulse:active {
  transform: scale(1.5);
}

@keyframes pulsing {
  from {
    box-shadow: 0 0 0 0 var(--blue);
  }
  50% {
    box-shadow: 0 0 0 2px var(--transparentBlue);
  }

  to {
    box-shadow: 0 0 0 4px #f7f6fe;
  }
}
