.product-card {
  /* Box model and background */
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden; /* Prevent image overflow */
  padding: 0px 15px;
  justify-content: space-between;
}
.image-placeholder {
  width: 40px;
  height: 40px;
  background-color: black;
  display: block !important;
  border-radius: 8px;
}

/* Product image */
.product-card img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Product details container */
.product-details {
  padding: 1px 15px;
  flex: 1; /* Flexible growth to fill remaining space */
}

/* Product title */
.product-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Product subtitle (optional) */
.product-subtitle {
  font-size: 14px;
  color: #999;
  margin-top: -7px;
}

/* "Just now" text styling */
.just-now {
  color: #999;
  font-size: 12px;
}
